[submodule "third_party/wabt"]
	path = third_party/wabt
	url = https://github.com/WebAssembly/wabt
[submodule "third_party/wabt-experimental"]
	path = third_party/wabt-experimental
	url = https://github.com/amirbawab/wabt-experimental
[submodule "third_party/node"]
	path = third_party/node
	url = https://github.com/amirbawab/node
[submodule "third_party/mkdocs"]
	path = third_party/mkdocs
	url = https://github.com/mkdocs/mkdocs
